# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
*.env

# IDE-specific files
.vscode/
.idea/

# Logs and debug files
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# Python cache files
*.egg-info/
.eggs/
*.egg

# Compiled C extensions
*.so

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig

# Services JSON file (if sensitive)
services.json